#block-noticiasdeportada a, #block-acercadetusnoticias a{
    color: #98cd1d;
}
#block-noticiasdeportada a:hover, #block-acercadetusnoticias a:hover{
    color: black;
}

#block-noticiasdeportada .views-field-title, #block-acercadetusnoticias .views-field-title{
    margin-bottom: 12px;
}
#block-noticiasdeportada .views-field-field-fecha-del-articulo, #block-acercadetusnoticias .views-field-field-fecha-del-articulo{
    margin-bottom: 12px;
    color: #888888;
}
#block-noticiasdeportada .views-field-field-fecha-del-articulo time, #block-acercadetusnoticias .views-field-field-fecha-del-articulo time{
    color: #888888;
}
#block-noticiasdeportada  .more-link, #block-acercadetusnoticias  .more-link{
    margin: 25px auto;
    text-align: center;
}
#block-noticiasdeportada  .more-link a, #block-acercadetusnoticias  .more-link a{
    color: #888888;
    background: url(/themes/custom/ticsmart/images/ver-mas.png) right 3px no-repeat;
    padding: 0 20px 0 5px;
}
#block-noticiasdeportada  .more-link a:hover, #block-acercadetusnoticias  .more-link a:hover{
    color: black;
}
#block-acercadetusnoticias .row{
    margin-bottom: 36px;
}
#block-acercadetusnoticias img, #block-noticiasdeportada .row img{
    width: 100%
}